@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&family=Roboto+Slab:wght@200;300;400&family=Rubik:wght@300&display=swap");
/*Inicio del footer*/
.footer {
  grid-area: footer;
  background-color: #ce8e2c;
  width: 100%;
  height: 20vh;
  margin-top: 2rem;
  /*Inicio del footer: 480px*/
  /*Fin del footer: 480px*/ }
  .footer .footer__title {
    font-family: "Roboto Slab", sans-serif;
    color: white;
    font-weight: 600;
    margin-bottom: 1.5rem;
    margin-left: 0.5rem;
    font-size: 1.5rem; }
  .footer .footer__list {
    display: flex;
    width: 70%;
    height: 5.2rem;
    justify-content: space-between; }
    .footer .footer__list .footer__item {
      list-style: none; }
      .footer .footer__list .footer__item .footer__a .footer__img {
        width: 5rem;
        height: 5rem; }
  @media (min-width: 480px) {
    .footer .footer__title {
      font-size: 2rem;
      margin-bottom: 1rem; }
    .footer .footer__list {
      width: 50%; } }

/*Fin del footer*/
/*Inicio de comunes*/
body {
  background-image: url(../imagenes/fondo/fondo.jpg); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 600; }

/*Fin de comunes*/
/*Inicio del header*/
.header {
  grid-area: header;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  /*Inicio de header: 480px*/
  /*Fin de header: 480px*/
  /*Inicio de header: 576px*/
  /*Fin de header: 576px*/
  /*Inicio de header: 600px*/
  /*Fin de header: 600px*/
  /*Inicio de header: 768px*/
  /*Fin de header: 768px*/
  /*Inicio de header: 992px*/
  /*Fin de header: 992px*/
  /*Inicio de header: 1024px*/
  /*Fin de header: 1024px*/
  /*Inicio de header: 1200px*/
  /*Fin de header: 1200px*/ }
  .header .header__nav {
    background-color: #108599; }
    .header .header__nav #header__link-img {
      display: inline;
      width: 80%; }
      .header .header__nav #header__link-img #header__img {
        width: 100%; }
    .header .header__nav .header__list .header__item:hover {
      background-color: #1d5a5c;
      transition: all .5s; }
    .header .header__nav .header__list .header__item .header__text {
      font-family: "Roboto Slab", sans-serif;
      font-size: 1.5rem;
      font-weight: 600;
      color: white;
      padding-left: 1rem; }
      .header .header__nav .header__list .header__item .header__text:hover {
        color: white; }
  @media (min-width: 480px) {
    .header #header__link-img {
      width: 60%; }
    .header .header__button {
      font-size: 2.2rem; }
    .header .header__text {
      font-size: 1.8rem; } }
  @media (min-width: 576px) {
    .header .header__button {
      font-size: 2.2rem; }
    .header .header__text {
      font-size: 1.8rem; }
    .header #header__link-img {
      width: 50%; } }
  @media (min-width: 600px) {
    .header #header__link-img {
      width: 50%; } }
  @media (min-width: 768px) {
    .header .header__button {
      font-size: 2.5rem; }
    .header .header__text {
      font-size: 2rem;
      line-height: 3rem; }
    .header #header__link-img {
      width: 40%; } }
  @media (min-width: 992px) {
    .header .header__nav {
      padding-top: 0;
      padding-bottom: 0;
      height: 9rem; }
    .header .header__item {
      height: 100%; }
    .header .header__text {
      font-size: 1.7rem;
      line-height: 9rem; }
    .header #header__link-img {
      width: 30%; }
    .header #header__text-padding-1, .header #header__text-padding-2, .header #header__text-padding-3, .header #header__text-padding-4 {
      padding: 0 2.5rem; }
    .header .header__list {
      width: 100%;
      justify-content: space-around; } }
  @media (min-width: 1024px) {
    .header .header__nav {
      padding-top: 0;
      padding-bottom: 0;
      height: 9rem; }
    .header .header__item {
      height: 100%; }
    .header .header__text {
      font-size: 1.7rem;
      line-height: 9rem; }
    .header #header__link-img {
      width: 30%; }
    .header #header__text-padding-1, .header #header__text-padding-2, .header #header__text-padding-3, .header #header__text-padding-4 {
      padding: 0 2.5rem; }
    .header .header__list {
      width: 100%;
      justify-content: space-around; } }
  @media (min-width: 1200px) {
    .header .header__nav {
      padding-top: 0;
      padding-bottom: 0;
      height: 9rem; }
    .header .header__item {
      height: 100%; }
    .header .header__text {
      font-size: 1.7rem;
      line-height: 9rem; }
    .header #header__link-img {
      width: 22%;
      margin-right: 9rem; }
    .header #header__text-padding-1, .header #header__text-padding-2, .header #header__text-padding-3, .header #header__text-padding-4 {
      padding: 0 3rem; }
    .header .header__list {
      width: 100%;
      justify-content: space-around; } }

/*Fin del header*/
/*Inicio de nosotros*/
.presentation__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #0F0E0E;
  margin-top: 9rem; }

.presentation__text {
  font-family: "Nunito", sans-serif;
  color: #0F0E0E;
  font-size: 1.5rem;
  line-height: 3rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

.presentation__subtitle {
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: #0F0E0E; }

.presentation__subtitle-3 {
  margin-top: 4rem;
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #0F0E0E; }

/*Inicio de nosotros: 480px*/
@media (min-width: 480px) {
  .presentation__title {
    margin-top: 10rem; } }

/*Fin de nosotros: 480px*/
/*Inicio de nosotros: 576px*/
@media (min-width: 576px) {
  .presentation__title {
    font-size: 2.5rem;
    margin-top: 10rem; }
  .presentation__text {
    font-size: 1.7rem; }
  .presentation__subtitle {
    font-size: 2.2rem; }
  .presentation__subtitle-3 {
    font-size: 2rem; } }

/*Fin de nosotros: 576px*/
/*Inicio de nosotros: 600px*/
@media (min-width: 600px) {
  .presentation__title {
    font-size: 2.5rem;
    margin-top: 10rem; }
  .presentation__text {
    font-size: 1.7rem; }
  .presentation__subtitle {
    font-size: 2.2rem; }
  .presentation__subtitle-3 {
    font-size: 2rem; } }

/*Fin de nosotros: 600px*/
/*Inicio de nosotros: 768px*/
@media (min-width: 768px) {
  .presentation__title {
    font-size: 2.5rem;
    margin-top: 12rem; }
  .presentation__text {
    font-size: 1.7rem; }
  .presentation__subtitle {
    font-size: 2.2rem; }
  .presentation__subtitle-3 {
    font-size: 2rem; } }

/*Fin de nosotros: 768px*/
/*Inicio de nosotros: 992px*/
@media (min-width: 992px) {
  .presentation__title {
    font-size: 3rem;
    margin-top: 10rem; }
  .presentation__text {
    font-size: 1.8rem; }
  .presentation__subtitle {
    font-size: 2.4rem; }
  .presentation__subtitle-3 {
    font-size: 2rem; } }

/*Fin de nosotros: 992px*/
/*Inicio de nosotros: 1024px*/
@media (min-width: 1024px) {
  .presentation__title {
    font-size: 3rem;
    margin-top: 10rem; }
  .presentation__text {
    font-size: 1.8rem; }
  .presentation__subtitle {
    font-size: 2.4rem; }
  .presentation__subtitle-3 {
    font-size: 2rem; } }

/*Fin de nosotros: 1024px*/
/*Inicio de nosotros: 1200px*/
@media (min-width: 1200px) {
  .presentation__title {
    font-size: 3rem;
    margin-top: 10rem; }
  .presentation__text {
    font-size: 1.8rem; }
  .presentation__subtitle {
    font-size: 2.4rem; }
  .presentation__subtitle-3 {
    font-size: 2rem; } }

/*Fin de nosotros: 1200px*/
/*Final de nosotros*/
