/*Inicio de articulos*/
@mixin margin($top, $left){
    margin-top: $top;
    margin-left: $left;
}

    .article{
        @include margin(8.5rem, .5rem);
        
        .article__title .article__subtitle{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2.5rem;
        }
        
        .article__img{
            display: block;
            width: 90%;
            height: 25rem;
            margin: 1.5rem auto 1.5rem auto
        }
        
        .article__subtitle{
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        
        .article__text, .article__bold, .article__date, .article__list{
            font-family: 'Nunito', sans-serif;
            font-size: $textSm;
            line-height: 3rem;
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
            .article__bold{
                font-weight: $bold;
            }
        }
        
        .article__list{
            padding-left: 2rem;
        }
        
        .article__sublist{
            list-style: none;
            
            .article__subitem{
                padding-left: 3rem;
            }
        }
        
        .article__date{
            margin-bottom: 0;
            margin-top: 1rem;
            color: rgb(116, 116, 116);
        }
        
        .article__video{
            width: 95%;
            height: 35rem;
            margin-left: auto;
            margin-right: auto;
        }
        
        #img-negociacion{
            width: 90%; 
            height: 35rem;
        }

        @media (min-width: 480px) {
            @include margin(9rem, 2rem);
            .article__subtitle{
                font-size: 2rem;
            }
        
            .article__text, .article__bold, .article__date, .article__list, .article__table-text{
                font-size: $textMd;
            }
        
            .article__list{
                padding-left: 2rem;
            }
        
            .article__subitem{
                padding-left: 3rem;
            }
        
            .article__date{
                font-size: 1.6rem;
            }
        
            .article__video{
                width: 90%;
                height: 35rem;
            }
        
                #img-negociacion{
                    width: 30rem; 
                    height: 35rem;
                }
        }

        @media (min-width: 576px) {
            @include margin(7.2rem, 1.5rem);
            .article__title{
                font-size: $textExtraBig;
            }
        
            .article__img{
                display: block;
                width: 90%;
                height: 25rem;
                margin-left: 0;
            }
        
            .article__subtitle{
                font-size: $textBig;
                margin-bottom: 1rem;
            }
        
            .article__text, .article__bold, .article__date, .article__list, .article__table-text{
                font-size: $textMd;
            }
        
            .article__list{
                padding-left: 2rem;
            }
        
            .article__subitem{
                padding-left: 3rem;
            }
        
            .article__date{
                font-size: 1.7rem;
            }
        
            .article__video{
                width: 95%;
            }
        }

        @media (min-width: 600px) {
            @include margin(8.5rem, 2rem);
        }

        @media (min-width: 768px){
            @include margin(9rem, 3rem);
            .article__title{
                font-size: $textExtraBig;
            }
        
            .article__img{
                width: 90%;
                height: 30rem;
            }
        
            .article__subtitle{
                font-size: $textBig;
            }
        
            .article__video{
                width: 90%rem;
                height: 35rem;
            }
        }

        @media (min-width: 992px){
            @include margin(9.2rem, 3.5rem);
            .article__subtitle{
                font-size: 2rem;
            }
        }

        @media (min-width: 1024px){
            .article__title{
                font-size: 3rem;
            }
        
            .article__img{
                width: 100%;
                height: 30rem;
            }
        
            .article__video{
                width: 60rem;
                height: 35rem;
            }
        }

        @media (min-width: 1200px){
            display: flex;
            flex-direction: row;
            .article__content{
                margin-left: 3.5rem;
            }
        
            .article__title{
                font-size: 3rem;
            }
        
            .article__img{
                width: 100%;
                height: 36rem;
            }
        
            .article__subtitle, .article__table-title{
                font-size: $textBig;
            }
        }
    }
/*Fin de articulos*/

/*Inicio del Aside + Anuncio*/
    .aside{
        margin-top: 2rem;
        grid-area: aside;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        .aside__title{
            color: rgb(255, 255, 255);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2rem;
            text-align: center;
            background-color: rgb(124,23,27);
        }
    
        .aside__item{
            margin: 1rem 1.5rem;
        }
    
        .aside__a{
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-family: 'Nunito', sans-serif;
            font-size: 1.6rem;
        }
    
        .ad{
            width: 100%;
            text-align: center;
            grid-area: anuncios;
            
            .ad__img{
                width: 90%;
            }
        }
        
            #ad--margin-art{
                margin-top: 2rem;
            }
    }

        #aside--margin-art{
            margin-top: 2rem;
        }

    @media (min-width: 480px){
        .aside{
            width: 90%;
            margin: 2rem auto;
            .aside__title{
                font-size: 2.2rem;
                line-height: 4rem;
            }
        
            .aside__item{
                margin: 1rem 1.5rem;
            }
        
            .aside__a{
                font-size: $textMd;
            }
        }
    }

    @media (min-width: 576px){
        .aside{
            width: 90%;
            margin: 2rem auto;
            .aside__title{
                font-size: 2.2rem;
                line-height: 4rem;
            }
        
            .aside__item{
                margin: 1rem 1.5rem;
            }
        
            .aside__a{
                font-size: $textMd;
            }
        }
    }

    @media (min-width: 600px) {
        .aside{
            .aside__content{
                margin-right: 2rem;
            }
        
            .aside__title{
                font-size: 2.5rem;
            }
        
            .aside__item{
                margin: 1rem 1.5rem;
            }
        
            .aside__a{
                font-size: $textMd;
            }
    
            .ad{
                width: 100%;
                margin: 0 auto;
            }
        
            .ad__img{
                width: 60%;
            }
        }
    }

    @media (min-width: 768px){
        .aside{
            margin-top: 3rem;
            width: 90%;
            .aside__content{
                margin-right: 2rem;
            }
        
            .aside__title{
                font-size: 2.5rem;
            }
        
            .aside__item{
                margin: 1rem 1.5rem;
            }

            .ad{
                width: 100%;
                margin: 0 auto;
            }
        
            .ad__img{
                width: 50%;
            }
        }
    }

    @media (min-width: 992px){
        .ad{
            width: 100%;
            margin: 0 auto;
        }
    
        .ad__img{
            width: 50%;
        }
    
            #ad--width{
                width: auto;
            }
    }

    @media (min-width: 1024px){
        .aside{
            margin-top: 10rem;
            width: 100%;
            .aside__content{
                margin-right: 2rem;
            }
        
            .aside__title{
                line-height: 4rem;
            }
        
            .aside__item{
                margin: 1rem 1rem;
            }

            .ad{
                width: 100%;
                margin-top: 18.5vh;
            }
        
            .ad__img{
                width: 90%;
            }
        }
    }

    @media (min-width: 1200px){
        .aside{
            display: block;
            margin-top: 12rem;
            width: 100%;

            .ad{
                display: block;
                margin-top: 12rem;
                }
            
                .ad__img{
                    width: 90%;
                }
        }
    }
/*Fin del Aside + Anuncio*/

