/*Inicio de contactos*/
    .form{
        display: block;
        width: 90%;
        margin: 8rem auto 0 auto;
        border: 1px solid rgba(165, 165, 165, 0.8);

        .form__title{
            text-align: center;
            font-size: $textMd;
            line-height: 2.2rem;
            margin-bottom: 1rem;
            font-family: Arial, Helvetica, sans-serif;
        }

        .form__text{
            font-size: $textSm;
            text-align: center;
            font-family: 'Nunito', sans-serif;
            font-weight: $bold;
        }

        .form__text--gray{
            @extend .form__text;
            color: rgb(128, 128, 128);
        }
        .form__text-label{
            font-size: $textSm;
            font-family: 'Nunito', sans-serif;
        }

        .form__sub-text-input{
            @extend .form__text-label;
            font-size: 1.2rem;
            font-weight: $bold;
        }

        .form__flex-container{
            display: flex;
            justify-content: space-around;
            margin: 1.5rem auto;

            .form__flex-items{
                width: 11.5rem;
                height: 6rem;

                .form__text-radio{
                    display: block;
                    text-align: center;
                    font-size: $textSm;
                    height: 4rem;
                    font-family: 'Nunito', sans-serif;
                }

                .form__input-radio{
                    display: block;
                    margin-right: auto;
                    margin-left: auto;
                    margin-top: 1rem;
                }
            
            }
        }

            #submit{
                display: block;
                margin: 2rem auto; 
                width: 25rem;
                height: 3rem;
                background: linear-gradient(to left, rgb(16, 133, 153), rgb(1, 200, 235));
                border: none;
                color: rgb(255, 255, 255);
                border-radius: .5rem;
                cursor: pointer;
                font-family: 'Nunito', sans-serif;
                font-size: $textSm;
            }

        @media (min-width: 480px) {
                width: 70%;
                margin-top: 11rem;
        }

        @media (min-width: 576px){
                width: 60%;

                .form__title{
                    font-size: 2rem;
                    line-height: 3rem;
                }

                .form__text{
                    font-size: $textMd;
                }

                .form__text--gray{
                    font-size: $textSm;
                }

                .form__flex-container{
                    margin: 1.5rem auto;

                    .form__flex-items{
                        width: 11.5rem;
                        height: 6rem;

                        .form__text-radio{
                            font-size: 1.6rem;
                            height: 4rem;
                        }

                        .form__input-radio{
                            margin-top: 1rem;
                        }
                    }
                }

                .form__text-label{
                    font-size: $textSm;
                }

                .form__sub-text-input{
                    font-size: 1.4rem;
                }

                    #submit{
                        margin: 2rem auto; 
                        width: 25rem;
                        height: 3rem;
                        font-size: $textSm;
                    }
        }

        @media (min-width: 600px) {
            width: 70%;
        }

        @media (min-width: 768px) {
            .form__title{
                font-size: $textBig;
            }

            .form__text-label{
                font-size: $textMd;
                margin-top: 2rem;
            }

            .form__sub-text-input{
                font-size: $textMd;
                margin-top: 1rem;
            }

            .form__text, .form__text--gray{
                font-size: $textBig;
                margin-top: 3rem;
            }

            .form__text--gray{
                font-size: 1.6rem;
                
            }

            .form__flex-container{
                margin: 1.5rem auto;

                .form__flex-items{
                    width: 11.5rem;
                    height: 6rem;

                    .form__text-radio{
                        font-size: $textMd;
                        height: 4rem;
                    }

                    .form__input-radio{
                        margin-top: 1rem;
                    }
                }
            }

                #submit{
                    margin: 2rem auto; 
                    width: 50%;
                    height: 4rem;
                    font-size: $textMd;
                }
        }

        @media (min-width: 992px) {
            width: 50%;
        }

        @media (min-width: 1024px) {
            width: 45%;
        }

        @media (min-width: 1200px){
            width:40%;

            .form__flex-container{

                .form__flex-items{

                    .form__input-radio{
                        margin-top: 2rem;
                    }
                }
            }
        }
    }
/*Fin de contactos*/