@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&family=Roboto+Slab:wght@200;300;400&family=Rubik:wght@300&display=swap');

//fonts
$mainFont:'Roboto Slab', sans-serif;
$titleFont:Arial, Helvetica, sans-serif;
$secondaryFont:'Nunito', sans-serif;

//text sizing
$text-regular:1.8rem;
$textSm: .8em;
$textMd: 1em;
$textLg: 2em;
$textXl: 3em;

//font - weight
$bold: 600;
$regular: 400;
$light: 300;