/*Inicio del footer*/
.footer{
    grid-area: footer;
    background-color: $secondaryColor;
    width: 100%;
    height: 20vh;
    margin-top: 2rem;
    .footer__title{
        font-family:$mainFont;
        color: $white;
        font-weight: $bold;
        margin-bottom: 1.5rem;
        margin-left: 0.5rem;
        font-size: 1.5rem;
    }
    .footer__list{
        display: flex;
        width: 70%;
        height: 5.2rem;
        justify-content: space-between;
        .footer__item{
            list-style: none;
            .footer__a{
                .footer__img{
                    width: 5rem;
                    height: 5rem;
                }
            }
        }
    }
    /*Inicio del footer: 480px*/
    @media (min-width:480px){
        .footer__title{
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    
        .footer__list{
            width: 50%;
        }
    }
    /*Fin del footer: 480px*/
}
/*Fin del footer*/