/*Inicio del header*/
.header{
    grid-area: header;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    .header__nav{
        background-color: $mainColor;
        #header__link-img{
            display: inline;
            width: 80%;
            #header__img{
                width: 100%;
                }
        }
        .header__list{
            .header__item{
                &:hover{
                    background-color: $hoverColor;
                    transition: all .5s;
                }
                .header__text{
                    font-family:$mainFont;
                    font-size: 1.5rem;
                    font-weight: $bold;
                    color: $white;
                    padding-left: 1rem;
                    &:hover{
                        color: $white;
                    }
                } 
            }
        }
    }
    /*Inicio de header: 480px*/
    @media (min-width: 480px){
        #header__link-img{
            width: 60%;
        }

    .header__button{
        font-size: 2.2rem;
    }

    .header__text{
        font-size: $text-regular;
    }
    }
    /*Fin de header: 480px*/
    /*Inicio de header: 576px*/
    @media (min-width: 576px){
    .header__button{
        font-size: 2.2rem;
    }

    .header__text{
        font-size: $text-regular;
    }    

        #header__link-img{
            width: 50%;
        }
    }
    /*Fin de header: 576px*/
    /*Inicio de header: 600px*/
    @media (min-width: 600px){
        #header__link-img{
            width: 50%;
        }
    }
    /*Fin de header: 600px*/
    /*Inicio de header: 768px*/
    @media (min-width: 768px){
    .header__button{
        font-size: 2.5rem;
    }

    .header__text{
        font-size: 2rem;
        line-height: 3rem;
    }    

        #header__link-img{
            width: 40%;
        }
    } 
    /*Fin de header: 768px*/
    /*Inicio de header: 992px*/
    @media (min-width: 992px){
    .header__nav{
        padding-top: 0;
        padding-bottom: 0;
        height: 9rem;
    }

    .header__item{
        height: 100%;
    }

    .header__text{
        font-size: 1.7rem;
        line-height: 9rem;
    }    

        #header__link-img{
            width: 30%;
        }

        #header__text-padding-1, #header__text-padding-2, #header__text-padding-3, #header__text-padding-4{
            padding: 0 2.5rem;
        }

    .header__list{
        width: 100%;
        justify-content: space-around;
    }
    }
    /*Fin de header: 992px*/
    /*Inicio de header: 1024px*/
    @media (min-width: 1024px){
    .header__nav{
        padding-top: 0;
        padding-bottom: 0;
        height: 9rem;
    }

    .header__item{
        height: 100%;
    }

    .header__text{
        font-size: 1.7rem;
        line-height: 9rem;
    }    

        #header__link-img{
            width: 30%;
        }
        
        #header__text-padding-1, #header__text-padding-2, #header__text-padding-3, #header__text-padding-4{
            padding: 0 2.5rem;
        }

    .header__list{
        width: 100%;
        justify-content: space-around;
    }
    }
    /*Fin de header: 1024px*/
    /*Inicio de header: 1200px*/
    @media (min-width: 1200px){
    .header__nav{
        padding-top: 0;
        padding-bottom: 0;
        height: 9rem;
    }

    .header__item{
        height: 100%;
    }

    .header__text{
        font-size: 1.7rem;
        line-height: 9rem;
    }    

        #header__link-img{
            width: 22%;
            margin-right: 9rem;
        }
        
        #header__text-padding-1, #header__text-padding-2, #header__text-padding-3, #header__text-padding-4{
            padding: 0 3rem;
        }

    .header__list{
        width: 100%;
        justify-content: space-around;
    }
    }
    /*Fin de header: 1200px*/
}

/*Fin del header*/
